.navbar {
    position: relative;
}

a {
    text-decoration: none;
}
/* Overlay que cobre a tela inteira */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.sidebar-overlay.open {
    opacity: 1;
    pointer-events: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background: linear-gradient(48deg, #121b3b 0%, #18254e 54%, #25366f 100%);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.sidebar.open {
    transform: translateX(300px);
}

.sidebar.hidden {
    transform: translateX(0);
}

/* Botão de fechar */
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

/* Cabeçalho da Sidebar */
.sidebar-header {
    margin-top: 40px;
    text-align: center;
}

/* Informações do usuário */
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Conteúdo da Sidebar */
.sidebar-content ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

/* Itens da Sidebar */
.sidebar-content li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s;
    padding-left: 10px;
    color: white;
    text-decoration: none;
}

/* Efeito de hover nos itens */
.sidebar-content li:hover {
    background-color: #f5f5f5;
    color: black;
}

.navbar-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.link-icons {
    color: white;
    text-decoration: none;
}

.link-insta {
    display: flex;
    margin: 0;
}

.link-insta p {
    color: white;
    margin: 0;
    padding: 20px 20px 15px 20px;
}

.link-insta :hover {
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s;
    background-color: #f5f5f5;
    color: black;
}

.link-insta .insta-logo {
    max-width: 35px;
    color: white;
}

.link-insta :hover .insta-logo {
    color: black;
}

.div-insta {
    display: flex;
}