.App {
    text-align: center;
  }

.App-header-menu {
    background-color: #282c34;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .livros-container {
    width: 100%; /* Defina o tamanho do contêiner */
    overflow-x: scroll; /* Adiciona rolagem horizontal */
    cursor: pointer;
}

.linha-livros {
    display: flex; /* Exibe os livros em linha */
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 75px;
    list-style-type: none; /* Remove os marcadores de lista */
}

.linha-livros li {
    margin-right: 10px; /* Espaço entre os itens */
    list-style: none; /* Remover o marcador da lista */
}


.livro-icon {
  height: 200px;
  width: 150px;
  background-size: cover;
  background-position: center;
}

.livro-details p {
  justify-content: center;
}

.lista-livros h2{
  padding-left: 50px;
  display: flex;
  justify-content: left;
  text-decoration: underline;
}
